@media screen and (max-width:1200px) {

    .tab-content {
        margin-inline: auto;
    }

    .h1-title {
        margin-left: unset;
    }

    .tabs-info {
        margin-inline: auto;

    }

    .pricing-item {
        padding-left: 15px;
        padding-right: 15px;

        &.dark {
            padding-left: 30px;
            padding-right: 30px;

        }
    }
}

@media screen and (max-width:1024px) {
    .header {
        .header-wrap {
            .main-menu {
                width: 40vw;
            }
        }
    }

    .tab-container {
        width: 100%;
    }

    .pricing-block {
        grid-template-columns: repeat(2, 1fr);
        gap: 28px;
    }

    .pricing-item {
        .btn-link {
            width: 100%;
        }

        &.dark {
            position: static;
            max-width: 100%;
        }

        &:not(:first-of-type) {
            margin-left: unset;
        }
    }

}

@media screen and (max-width:700px) {
    .header {
        .header-wrap {
            .main-menu {
                width: 60vw;

                ul {
                    padding-left: 0;

                    li {
                        padding: 15px;
                    }
                }
            }
        }
    }

    .tabs-info {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .pricing-block {
        grid-template-columns: 1fr;
        gap: 28px;
    }

    .popular {
        transform: translateX(-50%);
        left: 50%;
    }

    .pricing-item {
        padding: 24px 20px 20px;
    }

}

@media screen and (max-width:400px) {
    .header {
        .header-wrap {
            .main-menu {
                width: 75vw;
            }
        }
    }

    .tab-content {
        padding-top: 0;
    }

    .pricing-block {
        padding: 10px;
        gap: 7px;
    }

    .burger-btn {
        svg {
            margin-left: 10px;
        }
    }

    .logo {
        svg {
            margin-left: -10px;
        }
    }

    .tabs-info {
        margin-bottom: 21px;

        .subtitle {
            margin-bottom: -1px;
        }
    }

    .price {
        margin-bottom: 21px;
    }

    .pricing-info {
        .list {
            margin-bottom: 39px;
        }
    }

    .pricing-item {
        &:nth-child(2) {
            margin-bottom: 20px;
        }

        &.dark {
            padding: 22px 20px 20px;
        }
    }

}