@import "fonts";

$btnPink: #BB6BD9;
$darkPink: #A847CC;
$dark: #231D4F;
$textGrey: #848199;

@mixin fz($px) {
  font-size: calc($px / 16)*1rem;
}

@mixin lh($px) {
  line-height: calc($px / 16)*1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(245, 245, 250, 1) 0%, rgba(242, 218, 213, 1) 44%, rgba(160, 171, 214, 1) 100%);
  color: $textGrey;
  font-family: 'Poppins', sans-serif;
  @include fz(15);
  font-weight: 500;
}

img,
svg {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

button,
a {
  transition: all .2s ease;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.btn-link {
  border-radius: 25px;
  text-align: center;
  transition: all .3s ease;

  &.pink-btn {
    background: $btnPink;

    &:hover {
      background: $darkPink;
    }
  }

  &.dark-btn {
    background: $dark;

    &:hover {
      background: $darkPink;
    }
  }

  button {
    @include fz(14);
    @include lh(18);
    font-weight: 500;
    border: 0;
    padding: 10px 30px;
    margin: 0;
    color: #fff;
    background: transparent;
  }

}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(#fff, .1);
}

::-webkit-scrollbar-thumb {
  background: rgba($btnPink, .7);
  border-radius: 5px;

  &:hover {
    background: rgba($btnPink, 1);
  }
}

.container {
  width: min(92%, 1266px);
  margin-inline: auto;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@import "header";

main {
  flex-grow: 1;
  padding: 135px 0 50px;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  img {
    max-width: 300px;
  }
}

/*--------------------Tabs---------------*/
.tab-container {
  width: min(92%, 937px);
  margin-inline: auto;
}

.h1-title {
  font-family: 'Poppins', sans-serif;
  @include fz(40);
  font-weight: 400;
  color: $dark;
  margin-bottom: 19px;
  margin-left: -14px;
}

.tabs-info {
  justify-content: space-between;
  margin-bottom: 62px;
  max-width: 926px;
  margin-left: -14px;

}

.subtitle {
  flex-basis: 65%;
  @include fz(18);
}

.tab-content {
  margin-left: -11px;
  max-width: 939px;

}

.tabs {
  display: flex;
  justify-content: flex-end;
  height: 63px;
  position: relative;

  &::before {
    content: '';
    width: 220px;
    height: 44px;
    background: #fff;
    border-radius: 22px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

}

.tab {
  padding: 13px 24px;
  border-radius: 22px;
  min-width: 110px;
  align-self: center;
  text-align: center;
  cursor: pointer;
  background: #FFF;
  display: flex;
  justify-content: center;
  transition: all .2s ease;
}

.name {
  display: block;
  @include fz(12);
  letter-spacing: 0.83px;
  text-transform: uppercase;
  color: $textGrey;
  z-index: 1;
}

.active-top {
  padding: 13px 24px;
  align-items: center;
  column-gap: 6px;
  border-radius: 22px;
  position: relative;
  background: $btnPink;
  animation: fadeEffect 1s ease;
  box-shadow: 0px 6px 12px 0px rgb(82, 67, 194, 0.16);


  .name {
    color: #fff;
  }

  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}


.tab-content {
  display: none;
  position: relative;
  padding-top: 26px;

  &.active {
    display: block;
    z-index: 2;
  }

}

.pricing-block {
  background: rgba(255, 255, 255, .64);
  border-radius: 26px;
  padding: 0px 34px 20px 34px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.pricing-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 39px 30px 20px 30px;

  &:not(:first-of-type) {
    margin-left: -22px;
  }

  &.dark {
    background-color: $dark;
    border-radius: 26px;
    box-shadow: 0px 42px 34px 0px rgb(82, 67, 194, 0.3);
    padding-top: 20px;
    max-width: 290px;
    position: absolute;
    right: 51px;
    top: -27px;
    padding-left: 29px;

    .price {
      color: #fff;

      span {
        color: #fff;
        font-weight: 700;
      }
    }

    .list {
      margin-bottom: 23px;
    }

    .point {
      color: #fff;
    }

    .btn-link {
      width: 100%;

      &.dark-btn {
        background-color: $btnPink;

        &:hover {
          background: $darkPink;
        }
      }
    }

    .descr {
      color: #fff;
    }

    li {
      color: #fff;

      &::before {
        background: rgba(255, 255, 255, .15);
      }

      &::after {
        background: url(assets/images/check-w.png) no-repeat;
      }
    }
  }


}

.pricing-info {
  width: 99%;

  .price {
    @include fz(17);
    margin-bottom: 19px;

    span {
      @include fz(36);
      @include lh(46);
      color: $dark;
      font-weight: 700;
      margin-right: 5px;
    }
  }

  .point {
    @include fz(28);
    color: $dark;
    margin-bottom: 6px;
  }

  .descr {
    margin-bottom: 13px;
  }

  .list {
    margin-bottom: 52px;
  }

  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;


    &::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: rgba(82, 67, 194, .15);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      background: url(assets/images/check.png) no-repeat;
      background-size: 100%;
      display: inline-block;
      width: 12px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translateY(-50%);
    }
  }
}

.pricing-item {
  .btn-link {
    width: 90%;

    button {
      padding: 13px 30px;
      width: 100%;
    }
  }
}

.popular {
  margin-bottom: 20px;
  background-color: #403879;
  border-radius: 13.5px;
  width: fit-content;
  position: relative;
  transform: translateX(-97%);
  left: 100%;
  top: 0;

  .pop-point {
    @include fz(10);
    letter-spacing: 0.83px;
    font-weight: 800;
    color: $btnPink;
    padding: 7px 17px 5px 16px;
    text-transform: uppercase;
  }
}

/*--------------------End-Tabs---------------*/


@import "response";